.calculator{
  height: 100vh;
  width:100%;
  
}
.buttons{
  grid-template-columns: repeat(4,1fr);
  display: grid;
  gap: 1px;
  width: 200px;
  padding-top: -5px;
}
button{
  background-color: #fff;
  border: 1px solid;
  padding: 10px;
  font-size: 1.5rem;
  cursor: pointer;
  outline: none;
  transition: background 0.3s;
  
}
.button2{
  grid-template-columns: repeat(4,1fr);
  display: grid;
  gap: 1px;
  width: 400px;
  padding-top: -90px;
  margin-left: 100px;
  margin-top: -98px;
}
button:hover{
  background-color: #f3dc5d;
}